<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:utext="${user.id}"></td>
            <td th:utext="${user.username}"></td>
            <td th:utext="${user.surname}"></td>
            <td>
                <a th:href="@{/admin/edit?id={id}(id=${user.getId()})}">
                <input type="submit" value="Update!"/>
                </a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/delete?id={id}(id=${user.getId()})}">
                <input type="submit" value="Delete!"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="http://localhost:8080/admin/create"><input type="submit" value="Create!"/></a>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>